<link href="/static/css/bootstrap.css" rel="stylesheet"/>
<link href="/static/css/top.css" rel="stylesheet"/>
<div class="navbar" style="height: 30px;margin-bottom: 0px">
    <div class="navbar-inner">
        <a class="brand" href="#">测试平台</a>
        <ul class="nav">
            <li><a href="/caseList">接口测试</a></li>
            <li><a href="/scenario">场景测试</a></li>
            <li><a href="/webTest">WEB测试</a></li>
            <li><a href="/appTest">APP测试</a></li>
            <li><a href="/bugManage">BUG管理</a></li>
            <li><a href="/report">测试报告</a></li>
            <li><a href="/testTool">常用测试工具</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right" style="float: right">
            <li><a href="/dbConf">数据库配置</a></li>
            <li><a href="/product">产品管理</a></li>
            <li><a href="/project">项目管理</a></li>
            <li style="margin-left: 25px">欢迎您，<a href="../admin/" style="display: inline-block;">{{ user }}</a></li>
            <li><a href="/logout/">退出</a></li>
        </ul>
    </div>
</div>
<div class="clear"></div>

